In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(0,25).reshape(5,5))

In [3]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [9]:
df = pd.DataFrame(np.arange(0,25).reshape(5,5),rows = ['Row1','Row2'])

TypeError: DataFrame.__init__() got an unexpected keyword argument 'rows'

In [10]:
df = pd.DataFrame(np.arange(0,25).reshape(5,5),index=['Row1','Row2'])

ValueError: Shape of passed values is (5, 5), indices imply (2, 5)

In [11]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [12]:
df = pd.DataFrame(np.arange(0,25).reshape(5,5),index=['Row1','Row2','Row3','Row4','Row5'])

In [13]:
df

       0   1   2   3   4
Row1   0   1   2   3   4
Row2   5   6   7   8   9
Row3  10  11  12  13  14
Row4  15  16  17  18  19
Row5  20  21  22  23  24

In [14]:
df = pd.DataFrame(np.arange(0,25).reshape(5,5),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4','Col5'])

In [15]:
df

      Col1  Col2  Col3  Col4  Col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9
Row3    10    11    12    13    14
Row4    15    16    17    18    19
Row5    20    21    22    23    24

In [28]:
 df[0]

KeyError: 0

In [27]:
df['Row1']

KeyError: 'Row1'

In [37]:
df[['Col1','Col4']]

      Col1  Col4
Row1     0     3
Row2     5     8
Row3    10    13
Row4    15    18
Row5    20    23

In [29]:
df['Col1']

Row1     0
Row2     5
Row3    10
Row4    15
Row5    20
Name: Col1, dtype: int32

In [33]:
df['Col1':'Col3']

Empty DataFrame
Columns: [Col1, Col2, Col3, Col4, Col5]
Index: []

In [ ]:
df.loc('Row1')

In [ ]:
df.loc['Row1']

In [30]:
df.loc['Col1']

KeyError: 'Col1'

In [ ]:
df

In [ ]:
df.loc(['row2','row3'])

In [ ]:
df.loc(['Row2','Row3'])

In [ ]:
df.loc[['Row2','Row3']]

In [ ]:
df

In [ ]:
df.loc(['Row2','Row3'])

In [5]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [16]:
df.loc('Row3')

ValueError: No axis named Row3 for object type DataFrame

In [17]:
df.loc['Row3']

Col1    10
Col2    11
Col3    12
Col4    13
Col5    14
Name: Row3, dtype: int32

In [18]:
df.loc[['Row2','Row3']]

      Col1  Col2  Col3  Col4  Col5
Row2     5     6     7     8     9
Row3    10    11    12    13    14

In [19]:
df.loc[['Row2','Row5']]

      Col1  Col2  Col3  Col4  Col5
Row2     5     6     7     8     9
Row5    20    21    22    23    24

In [20]:
df.loc[['Row2','Row3'],['Col3','Col1']]

      Col3  Col1
Row2     7     5
Row3    12    10

In [21]:
df.loc['Row2':]

      Col1  Col2  Col3  Col4  Col5
Row2     5     6     7     8     9
Row3    10    11    12    13    14
Row4    15    16    17    18    19
Row5    20    21    22    23    24

In [22]:
df.loc['Row3':'Row4']

      Col1  Col2  Col3  Col4  Col5
Row3    10    11    12    13    14
Row4    15    16    17    18    19

In [23]:
df.loc['Row3':'Row4','Col3':]

      Col3  Col4  Col5
Row3    12    13    14
Row4    17    18    19

In [24]:
df.iloc['Row1']

TypeError: Cannot index by location index with a non-integer key

In [25]:
df.iloc[[0,2]]

      Col1  Col2  Col3  Col4  Col5
Row1     0     1     2     3     4
Row3    10    11    12    13    14

In [26]:
df.iloc[1:3,2:5]

      Col3  Col4  Col5
Row2     7     8     9
Row3    12    13    14

In [38]:
df

      Col1  Col2  Col3  Col4  Col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9
Row3    10    11    12    13    14
Row4    15    16    17    18    19
Row5    20    21    22    23    24

In [39]:
df.to_csv('data1.csv')

In [40]:
df.values

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [41]:
df.loc['Row1':'Row5','Col1':'Col5']

      Col1  Col2  Col3  Col4  Col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9
Row3    10    11    12    13    14
Row4    15    16    17    18    19
Row5    20    21    22    23    24

In [42]:
df.loc['Row3':'Row5','Col3':'Col5']

      Col3  Col4  Col5
Row3    12    13    14
Row4    17    18    19
Row5    22    23    24

In [43]:
newDf = df.loc['Row3':'Row5','Col3':'Col5']

In [44]:
newDf

      Col3  Col4  Col5
Row3    12    13    14
Row4    17    18    19
Row5    22    23    24

In [45]:
newDf.values

array([[12, 13, 14],
       [17, 18, 19],
       [22, 23, 24]])